{% use '@CraueFormFlow/FormFlow/stepList_blocks.html.twig' %}

{%- if flow.getStepLabels() is not empty -%}
	{# <ol class="craue_formflow_steplist"> #}
        {% set i = 1 %}
		{% for stepLabel in flow.getStepLabels() %}
			{# <li{{ block('craue_flow_stepList_class') }}> #}
			<div class="headings">
				{%- if craue_isStepLinkable(flow, loop.index) -%}
					<!-- <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all
							| merge(app.request.attributes.get('_route_params'))
							| craue_addDynamicStepNavigationParameters(flow, loop.index)) }}">
						{{- block('craue_flow_stepLabel') -}}
					</a> -->
                    <button class="btn availableStepButtons" name="flow_configurator_transition" value="{{ i }}" formnovalidate="formnovalidate">{{ i }}</button>
                {%- elseif flow.getCurrentStepNumber == i -%}
                    <button id="currentStepButton" class="btn availableStepButtons" name="flow_configurator_transition" value="{{ i }}" formnovalidate="formnovalidate">{{ i }}</button>
                {%- else -%}
                    <input type="button" class="disabledButton" name="flow_configurator_transition" value="{{ i }}" formnovalidate="formnovalidate" disabled><br />
				{%- endif -%}
                {{ block('craue_flow_stepLabel') }}
			</div>
			{# </li> #}
			{% set i = i + 1 %}
		{% endfor %}
	{# </ol> #}
{%- endif -%}
